*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: oblique 100% cursive;
}
body{
  background-color: #152D35;
  font-size: 18px;
  font-family: 'Vollkorn', serif;
  color: white;
  margin: 0;
  padding: 0;
}
.title{
  font-size: 1.5rem;
  margin-left: 5rem;
}
.title a{
  text-decoration: none;
  color: white;
}
.menu-container{
  background: #345B63;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.menu-items ul{
  padding: 0;
  display: flex;
}
.menu-items li {
  list-style: none;
  margin: 2%;
}
.menu-items li a{
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  transition: all 0.2s linear;
}
.menu-items li a:hover{
  padding: 1rem;
  display: block;
  color: wheat;
  background-color: #152D35;
  border-radius: 10%;
}
.toggle-button {
    position: absolute;
    top: .5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.menu-items ul .searchnav{
  margin: auto;
  padding: 0;
  display: flex;
}
.searchnav input[type=text] {
  float: left;
  padding: 6px;
  border-radius: 10px;
  font-size: 17px;
  border-right: 2%;
  width: 70%;
}
.searchnav input[type=button] {
  float: right;
  padding: 6px;
  border-radius: 10px;
  font-size: 17px;
  margin-right: 5%;
}
.gif{
  align-items: center;
  justify-content: center;
  display: block;
  margin: 5%;
  width: 90%;
}
.gifrand{
  margin: 5% 30%;
}
video{
  border-radius: 15px;
  margin: 2%;
  max-width: 300px;
  max-height: 300px;
}
footer{
  background-color: #345B63;
}
.down-p{
  align-items: center;
  justify-items: center;
  display: flex;
  height: 50px;
}
.down-p img{
  position: relative;
  height: 1.5rem;
  width: 2.5rem;
  margin: 0 auto;
}
@media (max-width:620px) {
.menu-container {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    height: auto;
    }
.toggle-button {
    display: flex;
  }
.menu-items {
    display: none;
    width: 100%;
  }
.menu-items ul {
    width: 100%;
    flex-direction: column;
  }
.menu-items ul li {
    text-align: center;
  }
.menu-items ul li a {
    padding: .5rem 1rem;
  }
.menu-items li a:hover{
  padding: 1rem;
  display: block;
  color: wheat;
  background-color: #152D35;
  border-radius: 0%;
  }
.menu-items.active {
    display: flex;
  }
.menu-items .searchnav{
  margin-bottom: 2%;
  }
.searchnav input[type=text] {
  margin: 0 auto;
  }
.searchnav input[type=button] {
  margin: 0 auto;
  }
  }
