*{
  box-sizing: border-box;
}
body{
  background-color: black;
  font-size: 18px;
  font-family: 'Vollkorn', serif;
  color: white;
  margin: 0;
  padding: 0;
}
.title{
  font-size: 1.5rem;
  margin: .5rem;
}
.menu-container{
  background: #581845;
  display: flex;
  position: relative;
  width: 90%;
  margin-left: 5%;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.menu-items ul{
  margin: 0;
  padding: 0;
  display: flex;
}
.menu-items li {
  list-style: none;
}
.menu-items li a{
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}
.menu-items li a:hover{
  padding: 1rem;
  display: block;
  color: #900c3f;
  background-color: wheat;
}
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.menu-items ul .searchnav{
  margin: auto;
  padding: 0;
  display: flex;
}
.searchnav input[type=text] {
  float: left;
  padding: 6px;
  border-radius: 10px;
  font-size: 17px;
  border-right: 2%;
}
.searchnav input[type=button] {
  float: right;
  padding: 6px;
  border-radius: 10px;
  font-size: 17px;
  border-right: 5%;
}
.gif{
  opacity: inherit;
  height: auto;
  width: auto;
  margin: 5%;
  position: relative;
  align-items: flex-start;
}
video{
  border-radius: 15px;
  margin: 2px;
  background: #900c3f;
}
@media (max-width:920px) {
  .menu-container {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
}
.toggle-button {
    display: flex;
}
.menu-items {
    display: none;
    width: 100%;
}
.menu-items ul {
    width: 100%;
    flex-direction: column;
}
.menu-items ul li {
    text-align: center;
}
.menu-items ul li a {
    padding: .5rem 1rem;
}
.menu-items.active {
    display: flex;
}
.menu-items .searchnav{
  margin-bottom: 2%;
}
.searchnav input[type=text] {
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.searchnav input[type=button] {
  margin-left: 5%;
  margin-bottom: 2%;
}
}
